/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$black:  #A27781;
$white: #f9f9f9;

/* Gray scale */

$grey-dark:   #B2A497;
$grey-medium: #C6C4B5;
$grey-light:  #E3D9CF;

/* Hilight */
$hilite: #fffbd7;

/* Accent Colors */
$link: #C499A3;
$accent: #24536B;

/* Widths */
$maxwidth: 1200px;

/* Typography
   ========================================================================== */

$sans: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
$serif: "Calendas Plus","Josefin Slab","Crimson Text", "Hoefler Text", "Georgia", serif;



/* Type Scale
   ========================================================================== */

/** * 12 & 16 as roots then powers of two. */

$fs1:64px;
$fs2:48px;
$fs3:32px;
$fs4:24px;

$fsp:22px;

$fs5:16px;
$fs6:12px;

// Line Height

$lh: 33px;
$lhsmall: 24px;

// Sizing
$footerHeight: 320px;

// Griddit



/* Break Points
   ========================================================================== */

/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-max-width:800px;
$breakpoint-3-max-width:1200px;

/* Style Tidbits
   ========================================================================== */

$borderR: 4px;
